<%= form_for(@trip, html: { class: 'form-horizontal' } ) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :post,
                class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :post %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date,
                class: 'control-label' %>
    <div class="controls">
      <%= f.date_select :date %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :city_id,
                class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :city_id, @cities, :id, :name %>
      <%= link_to "Create City", new_city_path, class: "btn btn-danger" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_id,
                class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :user_id, @users, :id, :name %>
      <%= link_to "Create User", new_user_path, class: "btn btn-danger" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
